@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}


/* #root {
  font-family: "Ancizar Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
} */

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none;    /* Firefox */
}